.saveCarTitle{
    width: 85%;
}
.saveCar{
    width: 90%;
    height: 90px;
    display: flex;
    gap: 1%;
    align-items: center;
    padding: 0 20px;
    border-radius: 50px;
}
.AdminCarsContainer{
    margin-top: 8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.AdminCarsContainer button{
    white-space: nowrap;
    padding: 10px;
    border-radius: 50px;
    cursor: pointer;
}
.carsTitle{
    width: 85%;
}
.carsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
}
select{
    padding: 10px;
    border: none;
    border-radius: 50px;
}
@media (max-width:900px) {
    .saveCar{
        height: fit-content;
        width:70%;
        flex-direction: column;
        align-items: center;
        padding: 2% 0;
        gap:5px;
    }
    .saveCar div{
        width: 80%;
    }
    .saveCarCategory{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
}